@tailwind base;
@tailwind components;
@tailwind utilities;


a {
    @apply text-google hover:underline
}

p {
    @apply my-4 text-base md:text-xl text-gray-600
}

footer {
    @apply text-center text-gray-600 md:text-left
}


select option {
    @apply p-4
}

.selects-container label {
    @apply mb-3 sm:mb-0 text-right text-nowrap
}

.selects-container select {
    @apply font-mono text-sm md:text-base col-span-2 w-1/2 mx-3 sm:w-3/4 md:w-4/5 xl:col-span-1
}

.conf-card {
    @apply shadow-md rounded-lg px-5 py-4 m-3 flex-1 min-w-[200px] max-w-[800px] md:min-w-[400px] bg-white
}

.conf-card-title {
    @apply font-bold text-xl mb-2
}

.conf-card-desc {
    @apply text-base text-gray-700
}

.conf-card-big-desc {
    @apply text-center text-uestc text-3xl md:text-6xl md:text-left
}

.card-tag, .card-tag-2 {
    @apply inline-flex text-white rounded-lg px-3 py-1.5 text-sm mr-2 mb-2 hover:ring-2 hover:ring-uestc hover:ring-opacity-20 transition duration-300
}

.card-tag  {@apply bg-uestc}
.card-tag-2 {@apply bg-uestc_orange}

dl {
    @apply ml-2
}

dt {
    @apply font-bold
}

dd {
    @apply ml-10
}

#track-buttons label {
    @apply has-[:checked]:font-bold
}

#catalog span {
    @apply font-bold
}